<?xml version="1.0" encoding="UTF-8"?>

<launch>

  
  <!-- Real robot -->
  <!---->
  <!-- <machine name="plataforma" address="192.168.100.200" env-loader="/home/pi/pmob_ws/devel/env.sh" default="false" user="pi"/> -->

  <include file="$(find mobile_robot)/launch/robot_description.launch" pass_all_args="true"/>
  <!-- <include file="$(find diff_drive)/launch/demo3.launch" pass_all_args="true"/> -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" pass_all_args="true"/>
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" pass_all_args="true"/>

  
</launch>
